.board{
    display: flex;
    flex-direction: column;
    background-color: rgb(177, 177, 177);
    max-width: 360px;
    margin: 12px;
}

.board__header{
    height: 50px;
    background-color: cadetblue;
    justify-content: center;
    align-items: center;
    display: flex;
}

.board__header__text {
    text-transform: uppercase;
    size: 1.2rem;
    color: #353538;
}

.board__body{
    padding: 15px 0px;
    overflow-y: scroll;
}

.board__footer{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}